<!DOCTYPE html>

<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Web en mantenimiento</title>

    <link rel="shortcut icon" href="/icons/favicon.ico"/>
    <meta name="application-name" content="Mantenimiento"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <style>
        html { -moz-osx-font-smoothing: grayscale; -webkit-font-smoothing: antialiased; }
        body { text-align: center; font: 18px sans-serif; color: #0c0f1c; margin: 0; }
        article { display: inline-block; text-align: left; padding: 24px; margin: 0 auto; }
        h1 { font-size: 40px; margin: 24px 0; }
        p { margin: 24px 0; }
        .header { padding: 16px 24px 14px; }
        .logo { width: 140px; height: auto; max-height: 20px; }
    </style>
</head>

<body>
    <article>
        <h1>Página en mantenimiento</h1>

        <p>Perdona las molestias, ¡estamos mejorando la web!</p>
    </article>
</body>
</html>
